{%extends 'account/base.html' %}
{%load staticfiles%}
{%block head_block%}
<link rel="stylesheet" href="{%static 'post/box.css'%}">
{%endblock%}






{%block  body_block%}
<!--

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul>

-->


{%if  post_list%}



{%for post in post_list%}

	<div class='box'>
		<div class="box1">

			<div class="left">
				<img class='pro' src="{{post.created_by.AboutUser.profile_pic.url}}" height='100px' width="100px">
			</div>

			<div class='right'>
				<h3><a href="{%url 'account:user_detail' pk=post.created_by.pk%}">{{post.created_by.AboutUser.first_name}} {{post.created_by.AboutUser.middle_name}} {{post.created_by.AboutUser.last_name}}</a></h3>
                <span>{{post.created_at}}</span>
                {%if post in user.post.all%}
                <span><a href="{%url 'post:delete_post' pk=post.pk%}">delete</a> </span>
				   <span><a href="{%url 'post:edit_post' pk=post.pk%}"> edit</a> </span>
                {%endif%}

			</div>

		</div>
		<div class='image'>


			<a href="{%url 'post:detail' pk=post.pk%}" ><img src="{{post.image.url}}"  height="650px" width=100% alt="not found"></a>
		</div>


	<div class='desc'>

         <p>{{post.description}}</p>


        </div>



	</div>

{%endfor%}
{%else%}
<h3>no post till date</h3>
{%endif%}
{%endblock%}